In [1]:
from assignment.dqm import DocumentQueryModel
from assignment.config import ChatConfig

config = ChatConfig(
    embedding_model="BAAI/bge-small-en-v1.5",
    db_path="notebook.pkl", # 
)

dqm = DocumentQueryModel.from_config(config)

In [2]:
dqm.data

Empty DataFrame
Columns: [embedding, content]
Index: []

In [5]:
dqm.load_jsonl("assets/areas_results.02.jsonl", id_key="area_id", content_key="summary")

In [6]:
dqm.save()

In [7]:
dqm.query("Bolivar")

,embedding,content,distance
doc_id,,,
bolivar-forestry-office,"[0.41314512, 0.064903684, 0.72619617, -0.27958...","The Bolivar Forestry Office, located at 412 Ki...",0.741091
f-o-leda-j-sears-memorial-wildlife-area,"[-0.0059427917, -0.19846703, 0.15546122, -0.15...",The F.O. and Leda J. Sears Memorial Wildlife A...,0.597381
wayne-helton-memorial-wildlife-area,"[0.41297758, -0.19599836, 0.7512408, -0.129524...","The Wayne Helton Memorial Wildlife Area, nestl...",0.553851
neosho-towersite,"[0.1306735, -0.025640246, 0.5525547, 0.2715156...",The Neosho Towersite is a remarkable conservat...,0.552376
busiek-state-forest-wildlife-area,"[0.49412364, 0.28670996, 0.748999, -0.52119184...","The Busiek State Forest and Wildlife Area, nes...",0.550122

In [8]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
import pandas as pd

top_n = 5
query_text = "Tower site wilderness retreat civil war"

query = dqm.ef(query_text).reshape(1, -1)

embeddings = np.stack(dqm.data['embedding'].values)

search = dqm.data.copy()
search['distance'] = cosine_similarity(query, embeddings)[0]
search.sort_values(by='distance', ascending=False).head(top_n)

,embedding,content,distance
doc_id,,,
fort-leonard-wood-towersite,"[0.29793665, -0.025362639, 0.44242504, 0.20775...","Fort Leonard Wood Towersite, a captivating 66....",0.683900
montauk-towersite,"[0.08950254, 0.16055754, 0.38774306, -0.048445...","Montauk Towersite, located in the heart of pic...",0.673691
summersville-towersite,"[-0.119541675, 0.045498975, 0.22309905, 0.4194...","The Summersville Tower site, nestled within th...",0.672326
powell-towersite,"[0.18369234, 0.036402147, 0.5894207, 0.2223520...","Powell Towersite, nestled in the heart of Miss...",0.666780
mount-hulda-towersite,"[-0.08747101, 0.015304513, 0.42483646, 0.36700...",Nestled within the lush landscapes of Missouri...,0.665762